<?xml version="1.0" encoding="UTF-8"?>

<beans>

	<bean id="userController" class="cn.edu.guet.controller.UserController">
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="accountController" class="cn.edu.guet.controller.AccountController">
		<property name="accountService" ref="accountService"></property>
	</bean>

	<bean id="accountService" class="cn.edu.guet.service.impl.AccountServiceImpl">
		<property name="accountDao" ref="accountDao"></property>
	</bean>
	<bean id="accountDao" class="cn.edu.guet.dao.impl.AccountDaoImpl"></bean>

	<bean id="userService" class="cn.edu.guet.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userDao" class="cn.edu.guet.dao.impl.UserDaoImpl"></bean>

</beans>