*{
    padding: 0;
    margin: 0;
}
#div1{
    width: 200px;
    height: 560px;
    background-color: #282B33;
}
.first{
    width: 150px;
    list-style: none;
}
.first>li {
    width: 100%;
    position: relative;
    top: 0px;
}

.first>li>a{
    width: 80%;
    font-size: 16px;
    line-height: 40px;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    display: block;
    color: white;
}
.first>li>a>img{
    position: absolute;
    left: 170px;
    top: 15px;
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
    transform:rotate(0deg);
}
.first>.father{
    background-color: #393D49;
}
.first>.son{
    background-color: #282B33;
}

.wrapper{
    width:100%;
    height:700px;
}
.header{
    width:100%;
    height:80px;
    background-color: #05A;
    position: relative;
}
.main{
    width: 100%;
    height:560px;
    position: relative;
}
.left{
    width:10%;
    height:100%;/* 相对父容器 */
    background-color: bisque;
}
.content{
    width: 90%;
    height: 100%;
    background-color: cyan;
    position: absolute;
    top: 0px;
    left: 150px
}
.footer{
    width: 100%;
    height: 100px;
}
.footer>img{
    width: 100%;
    height: 100%;
  filter:brightness(0.8)
}

#divforName{

    position: absolute;
    top: 10px;
    left: 1200px;
}
#titleP{
    color: white;
    font-family: 微软雅黑;
    font-size: medium;
}
#usernameP{
    color: white;
    font-family: 微软雅黑;
    font-size: medium;
}
#headimg{
    width:50px;
    height:50px;
    border-radius: 50px;
    background:#fff000;
    position: absolute;
    top: 15px;
    left: 1450px;
}
#headimg>img{
    width: 100%;
    height: 100%;
}
#dateTime{
    position: absolute;
    top: 50px;
    left: 1270px;
    color: white;
    font-family: 微软雅黑;
    font-size: medium;
}
#logout{
    color: white;
    background-color: #ff0000;
}
#logout:active{
    background-color: #eb4646;
}
.lq-popup-container{
    position: fixed;
    top:-120%; left:0;
    z-index: 1000;
    background:rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
.lq-popup-container.toggle{
    top:0%;
}
.lq-popup-container .lq-popup{
    background:#fff;
    text-align: center;
    margin:10px;
    padding:10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    border-radius: 5px;
    position: relative;
    width: 450px;
    height: 260px;
}
.lq-popup-container .lq-popup p{
    color:#444;
    padding:20px 40px;
    font-size: 25px;
}
#twoImage{
    width: 450px;
    height: 200px;
}
#oldImage{
    float: left;
    width: 200px;
    height: 200px;
}
#oldImage>img{
    width: 100%;
    height: 100%;
}
#newImage{
    margin-left: 10px;
    float: left;
    width: 200px;
    height: 200px;
}
#newImage>img{
    width: 100%;
    height: 100%;
}
.inputButton{
  width: 70px;
  height: 30px;
  background-color: #00a8ff;
  color: #fff;
  border-radius: 3px;
  padding: 8px;
  border: 1px solid #dcdde1;
  opacity: 1;
  position: relative;
}
.inputButton:active {
  opacity: .8;
}
#loss{
  position: relative;
  left: 70px;
  top: -30px;
}
