#tzl{
    width: 400px;
    height: 300px;
    border-radius: 47px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 9px #848484,
    -5px -5px 9px #ffffff;
}
#tzId{
    width: 100%;
    text-align: center;
}
#tzlZW{
    width: 100%;
    text-align: left;
}
#tzlTime{
    text-align: right;
}
#tzlUser{
    text-align: right;
}
