.reP{
    font-family: "黑体";
    font-size: x-large;
    margin: 0 auto; text-align: center
}

.repairManDiv{
    width: 500px;
}

.reInput{
    width: 400px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 16px;
}
.reInput:focus{
    border: 3px solid #555;
}

.reLable{
    color: black;
    font-family: "宋体";
    font-weight: bold;
}
#reTextLable{
    position: relative;
    top: -90px;
}

.reText{
    width: 400px;
    height: 100px;
    max-width: 400px;
    max-height: 200px;
    min-width: 400px;
    min-height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 16px;
}

.reSelect {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.reSubmit {
    width: 100px;
    height: 30px;
    background-color: #00a8ff;
    color: #fff;
    border-radius: 3px;
    padding: 8px;
    border: 1px solid #dcdde1;
    opacity: 1;
    position: relative;
    left: 190px;
}
.reSubmit:active {
    /* border: .5px solid #7f8fa6;
    box-sizing: content-box; */
    opacity: .8;
}

