*{
    padding: 0;
    margin: 0;
}
h1{
    letter-spacing: 15px;
    text-align: center;
    margin: 50px;
    background-color:darksalmon;
}
table{
    font-size: 20px;
    position: absolute;
    left: 160px;
    top: 180px;
    width: 900px;
    height: 250px;
}
.stumm{
    border: none;
}
#update{
    position: absolute;
    top: 472px;
    left:825px;
}
#recode{
    position: absolute;
    top: 472px;
    left:195px;
}
#confirm{
    position: absolute;
    top: 472px;
    left:825px;
}
#cancal{
    position: absolute;
    top: 472px;
    left:520px;
}
#rBack{
    z-index: 10;
    display: none;
    width: 1300px;
    height: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}
#updateRecode{
    display: none;
    position: absolute;
    width: 700px;
    height: 350px;
    top: 30px;
    left: 770px;
    transform: translateX(-50%);
    margin-top: 60px;
    border: 1px solid #ccc;
    background-color: #fff;
}
#table3{
    position: relative;
    left: 50px;
    top: 40px;
    right: 50px;
    height: auto;
    width: 600px;
    font-size: 20px;
}
#Close{
    font-size: 18px;
    position: fixed;
    right: 10px;
    text-decoration: none;
}
#lookP{
    position: absolute;
    left: 400px;
    top: 250px;
}
table td{
    color: black;
    font-weight: bolder;
}