<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>发布公告</title>
  <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="css/addBoard.css" th:href="@{/css/addBoard.css}">
</head>
<body>
  <div class="wrapper">
    <h3 class="first">发布公告</h3><br>
    <form action="saveBoard">
      <label for="boID">ID</label><input type="text" name="boId" id="boID"><br><br>
      <label for="boName">标题</label><input type="text" name="boName" id="boName"><br><br>
      <label>内容</label><textarea name="boContent" cols="100" rows="30"></textarea><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <label for="boTime">时间</label><input type="date" name="boTime" id="boTime"><br><br>
      <label for="boUser">发布人(单位)</label><input type="text" name="boUser" id="boUser"><br><br>
      <input type="submit" value="发布">
    </form>
  </div>
</body>
</html>