<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function confirmOrder(){
            if(confirm("请确定数额")){
                alert("下单成功");
                return true;
            }else{
                return false;
            }
        }
    </script>
</head>
    <body>
        <form action="insertWaterOrder" method="post">
            <input type="hidden" name="username" value="蓝振洪">
            <input type="hidden" name="buildingId" value="29">
            <input type="hidden" name="roomId" value="309">
            数量：<select name="number" >
                <option selected="selected">==请选择==</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" id="submit" value="确定" onclick="return confirmOrder()">
        </form>
    </body>
</html>