<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/index.css}">
    <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
    <script th:src="@{js/viewWaterOrder.js}"></script>
    <script th:src="@{js/viewWaterStates.js}"></script>
    <script th:src="@{js/viewMessages.js}"></script>
    <link rel="stylesheet"  th:href="@{css/page.css}">
    <link rel="stylesheet"  th:href="@{css/viewMessages.css}">
</head>
    <body>
        <div class="wrapper">
            <div class="header">
                页眉
            </div>
            <div class="main">
                <div id="div1">
                    <ul class="first">
                        <li th:each="tree,treeStat: ${tree}" th:class="${tree.isParent=='true'?'father':'son'}" >
                            <a target="right" th:href="${tree.treeUrl}" th:text="${tree.treeName}"></a>
                        </li>
                    </ul>
                </div>
                <div id="content" class="content">
                    <iframe src="" width="100%" height="100%" name="right" frameborder="0"></iframe>
                    <input type="button" id="test111" value="显示1">
                    <input type="button" id="test222" value="显示2">
                    <input type="button" id="test333" value="显示3">
                </div>
            </div>
            <div class="footer">
                页脚
            </div>
        </div>
    </body>
</html>