<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{css/pages.css}">
    <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="css/waterOrder.css" th:href="@{/css/waterOrder.css}">
    <script th:inline="javascript">
        $(function (){
            var pageNum = 1;
            var pageSize = 10;
            var lastPage;
            var buildingId;
            var roomId;

            $.ajax({
                url:'getAllWaterOrder?pageNum=' + pageNum + '&pageSize=' + pageSize,
                async: false,
                method: 'post',
                success:function(data) {
                    setSelect(data);
                    lastPage = data.navigateLastPage;
                }
            })

        /*    $("#waterOrder").on('click', '#test111', function(){
                view();
            })*/

            function view(){
                $.ajax({
                    url:"getAllWaterOrderThymeleaf?pageNum=" + pageNum + "&pageSize=" + pageSize,
                    async: false,
                    method: 'post',
                    success:function(data) {
                        $(".waterOrderinfo").html(data)
                    }
                })
            }

            // 点击页码
            $(".lq-page").on('click','.page',function(){
                $(".page.on").attr("class", "page");
                $(this).attr("class", "page on");
                pageNum = parseInt($(this).html());
                view();
            })

            // 点击首页
            $(".lq-page").on('click','.page-start',function(){
                pageNum = 1;
                $(".page.on").attr("class", "page");
                $(".page-before").next().attr("class", "page on");
                view();
            })

            // 点击尾页
            $(".lq-page").on('click','.page-end',function(){
                pageNum = lastPage;
                $(".page.on").attr("class", "page");
                $(".page-after").prev().attr("class", "page on");
                view();
            })

            // 点击下一页
            $(".lq-page").on('click','.page-after',function(){
                var pageOn = $(this).siblings('.on');
                pageNum = parseInt(pageOn.html());
                if(pageNum+1 <= lastPage){
                    pageNum++;
                    view();
                    $(".page.on").attr("class", "page");
                    pageOn.next().attr("class", "page on");
                }
            })

            // 点击上一页
            $(".lq-page").on('click','.page-before',function(){
                var pageOn = $(this).siblings('.on');
                pageNum = parseInt(pageOn.html());
                if(pageNum-1 >= 1){
                    pageNum--;
                    view();
                    $(".page.on").attr("class", "page");
                    pageOn.prev().attr("class", "page on");
                }
            })

            function setSelect(data){
                $(".lq-page").html("");  // 清空
                var pages = data.navigatepageNums;
                if(pages.length >= 2){
                    $(".lq-page").append('<span class="page-start">首页</span>');
                    $(".lq-page").append('<span class="page-before">上一页</span>');
                    $.each(pages, function(index, page) {
                        if(index == 0){
                            var span = $("<span class=\"page on\">"+ page +"</span>");
                        }else {
                            var span = $("<span class=\"page\">"+ page +"</span>")
                        }
                        $(".lq-page").append(span);
                    })
                    $(".lq-page").append('<span class="page-after">下一页</span><span class="page-end">尾页</span>');
                }
            }

        })


    </script>
</head>
<body id="body">
<div id="waterOrder">
<!--    <input type="button" id="test111" value="显示">-->
    <div id="waterOrderMain" class="waterOrderinfo" th:fragment="waterOrderinfo">
        <table id="waterOrderTable" border="1">
            <thead>
                <tr>
                    <th>楼栋</th>
                    <th>宿舍号</th>
                    <th>姓名</th>
                    <th>数量</th>
                    <th>金额</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="waterOrder,treeStat:${waterOrders}">
                <td th:text="${waterOrder.buid}"></td>
                <td th:text="${waterOrder.woRoom}"></td>
                <td th:text="${waterOrder.woUser}"></td>
                <td th:text="${waterOrder.woNum}"></td>
                <td th:text="${waterOrder.woMoney}"></td>
                <td th:text="${waterOrder.woTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="lq-page"></div>
</div>
</body>
</html>
