<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码</title>

    <link type="text/css" rel="stylesheet" th:href="@{../css/forget.css}">
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/layui.css}">-->

</head>
<body>
<form action="/updatePassword" method="post">
    <div class="main">
        <div class="main0">
            <div class="formBox">
                <h3>密码重置</h3>

                <div class="itembox itembox_2">
                    <label>手机号:</label>
                    <input type="text" placeholder="请输入手机号" name="phone" id="phone">
                </div>

                <div class="itembox itembox_2">
                    <label>登录密码：</label><input type="password" id="password" name="password" placeholder="请输入新登录密码">
                </div>

                <div class="itembox itembox_2">
                    <label>确认密码：</label><input type="password" id="repeat" name="repeat" placeholder="请再次输入新密码">
                </div>
            </div>

            <div class="btnBox_1">
                <button id="next"  type="submit" onclick="next()" >提交</button><!--onclick="window.location.href='forget3'"-->
            </div>
        </div>
    </div>
</form>


</body>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!--<script type="text/javascript" th:src="@{/static/js/layui.js}"></script>-->

<script>
    $(document).ready(function () {
        var height = $(document).height();
        $('.main').css('height', height);
    });
    //进入下一步
    function next() {
        $.ajax({
            url: "updatePassword",
            type: "POST",
            data: {
                'phone': $('#phone').val(),
                'password': $('#password').val(),
                'repeat': $('#repeat').val()
            },
            success: function (data) {
                console.log(data)
                alert("修改密码成功");
                window.location.href = "${pageContext.request.contextPath}/forget3.html";
            },
            error: function () {
                alert("修改密码失败，请重新修改");
            }
        });
    }

</script>
</body>
</html>

