<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
        <link rel="stylesheet"  th:href="@{css/page.css}">
        <script th:inline="javascript">
            $(function() {
                var confirmFlag = false;
                var pageNum = 1;
                var pageSize = 5;
                var lastPage;

                viewAllWaterState(pageNum, pageSize, setSelect);    // 显示水的状态信息

                // 更新&确定监听器
                $("#table").on("click", ".button1", function(){
                    var value = $(this).attr("value");
                    var td = $(this).parent().prevAll();
                    if(value == "更新"){
                        td.children(".number").attr("readonly", false);
                        $(this).attr("value", "确定");
                    }else if(value == "确定"){
                        td.children(".number").attr("readonly", true);
                        var number = td.children(".number").attr("value");  // 获取更新前的数据
                        var buildingId = td.children(".buildingId").val();
                        // 如果数据有变化 更新数据
                        if(number != td.children(".number").val()){
                            updataWaterState(buildingId, td.children(".number").val())
                        }
                        $(this).attr("value", "更新");
                    }
                })

                // 删除监听器
                /*$("#table").on("click", ".button2", function(){
                    if (confirm("即将删除数据")){
                        var id = $(this).attr("id");
                        $.ajax({
                            url:"deleteWaterState?buildingId=" + id,
                            type:"post",
                            success:function(){
                                alert("删除成功");
                                viewLimitWaterState(curPage, pageSize);
                            }
                        })
                    }
                })*/

                // 点击页码
                $(".lq-page").on('click','.page',function(){
                    $(".page.on").attr("class", "page");
                    $(this).attr("class", "page on");
                    pageNum = parseInt($(this).html());
                    viewAllWaterState(pageNum, pageSize);
                })

                // 点击首页
                $(".lq-page").on('click','.page-start',function(){
                    pageNum = 1;
                    $(".page.on").attr("class", "page");
                    $(".page-before").next().attr("class", "page on");
                    viewAllWaterState(pageNum, pageSize);
                })

                // 点击尾页
                $(".lq-page").on('click','.page-end',function(){
                    pageNum = lastPage;
                    $(".page.on").attr("class", "page");
                    $(".page-after").prev().attr("class", "page on");
                    viewAllWaterState(pageNum, pageSize);
                })

                // 点击下一页
                $(".lq-page").on('click','.page-after',function(){
                    var pageOn = $(this).siblings('.on');
                    pageNum = parseInt(pageOn.html());
                    if(pageNum+1 <= lastPage){
                        pageNum++;
                        viewAllWaterState(pageNum, pageSize);
                        $(".page.on").attr("class", "page");
                        pageOn.next().attr("class", "page on");
                    }
                })

                // 点击上一页
                $(".lq-page").on('click','.page-before',function(){
                    var pageOn = $(this).siblings('.on');
                    pageNum = parseInt(pageOn.html());
                    if(pageNum-1 >= 1){
                        pageNum--;
                        viewAllWaterState(pageNum, pageSize);
                        $(".page.on").attr("class", "page");
                        pageOn.prev().attr("class", "page on");
                    }
                })

                // 旧页面跳转
/*                $("#body").on("click", ".pageButton", function(){
                    var beforePage = pageNum;
                    var value = $(this).attr("value");
                    if(value == "首页"){
                        pageNum = 1;
                    }else if(value == "尾页"){
                        pageNum = lastPage;
                    }else if(value == "上一页"){
                        if(pageNum != 1){
                            pageNum--;
                        }else{
                            alert("这是首页!")
                        }
                    }else if(value == "下一页"){
                        if(pageNum != lastPage){
                            pageNum++;
                        }else{
                            alert("这是最后一页了!")
                        }
                    }else if(value = "跳转"){
                        pageNum = $("#page").val();
                    }
                    if(beforePage != pageNum){
                        $("#option"+pageNum).prop("selected",true)  // 设置select标签跟随页码
                        viewAllWaterState(pageNum, pageSize);
                    }
                })*/

                // 确认所有提交监听器
                $("#confirmAll").click(function(){
                    $.each($(".button1"), function(index, button){
                        var td = $(this).parent().prevAll();
                        if(button.getAttribute("value") == "确定"){
                            button.setAttribute("value", "更新");
                            td.find("input").attr("readonly", true);
                            var buildingId = td.children(".buildingId").val();
                            var number = td.children(".number").val();
                            updataWaterState(buildingId, number)
                        }
                    })
                })

                // 提交监听器
                /*$("#submit").click(function(){
                    $.each($(".button1"), function(index, button){
                        if(button.getAttribute("value") == "确定" ){
                            confirmFlag = true;
                        }
                    })
                    var flag = true;
                    $.each($(".button1"), function(index, button){
                        if(button.getAttribute("value") == "更新" && flag){
                            confirmFlag = false;
                        }else{
                            confirmFlag = true;
                            flag = false;
                        }
                    })
                    if(confirmFlag){
                        alert("请确认所有更新");
                    }else{
                        var array = new Array();
                        var input = new Object();
                        $.each($("#form1").serializeArray(), function(index, value){
                            if(value.name == "buildingId"){
                                input.buildingId = value.value;
                            }else if(value.name == "number"){
                                input.number = value.value;
                                array.push(input);
                                input = new Object();
                            }
                        })
                        console.log(JSON.stringify(array));
                        $.ajax({
                            url:"updataWaterState",
                            type:"post",
                            data:JSON.stringify(array),
                            contentType: 'application/json;charset=utf-8',
                            success:function (data){
                                console.log("发送成功");
                            }
                        })
                    }
                })*/

                // 显示所有楼栋水状态信息
                function viewAllWaterState(pageNum, pageSize, setSelect) {
                    $("#table>tbody").html("");  // 清空表格
                    $.ajax({
                        url:"getAllWaterState?pageNum=" + pageNum + "&pageSize=" + pageSize,
                        async: false,
                        method: 'post',
                        success:function(data) {
                            if(setSelect != null){
                                setSelect(data);
                            }
                            view(data);
                            lastPage = data.navigateLastPage;
                        }
                    })
                }

            })


            // 提交单条数据更新
            function updataWaterState(buildingId, number){
                $.ajax({
                    url : "updataWaterState?buildingId=" + buildingId + "&number=" + number,
                    type : "post",
                    success : function(){
                        alert("更新成功");
                    }
                })
            }

            function view(data){
                $.each(data.list, function(index, water) {
                    var tr = $("<tr>"
                        + "<td> <input type='hidden' class='buildingId' name='buildingId' value='" + water.buildingId + "'></td>"
                        + "<td>#" + water.buildingId + "</td>"
                        + "<td> <input type='text' class='number' name='number' value='" + water.number + "'readonly=\"true\"></td>"
                        + "<td> <input type='button' class='button1' value='更新' id='" + water.buildingId + "'></td>"
                        + "<td> <input type='button' class='button2' value='删除' id='" + water.buildingId + "'></td>"
                        + "</tr>");
                    $("#table>tbody").append(tr);
                })
            }

            function setSelect(data){
                // $("#page").html("");  // 清空
                $(".lq-page").html("");  // 清空
                var pages = data.navigatepageNums;
                if(pages.length >= 2){
                    $(".lq-page").append('<span class="page-start">首页</span>');
                    $(".lq-page").append('<span class="page-before">上一页</span>');
                    $.each(pages, function(index, page) {
                        if(index == 0){
                            var span = $("<span class=\"page on\">"+ page +"</span>");
                        }else {
                            var span = $("<span class=\"page\">"+ page +"</span>")
                        }
                        // var option = $("<option id='option" + page + "'>" + page + "</option>");
                        $(".lq-page").append(span);
                        // $("#page").append(option);
                    })
                    $(".lq-page").append('<span class="page-after">下一页</span><span class="page-end">尾页</span>');
                }
            }
        </script>
    </head>
    <body id="body">
        <form id="form1">

            <div id="waterStateMain">
                <table id="waterStateTable"></table>
            </div>


            <input id="confirmAll" type="button" value="全部确定">
            <table id="table">
                <thead>
                    <tr>
                        <th>   </th>
                        <th>楼栋</th>
                        <th>数量</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <!--
            旧
            <input type="button" class="pageButton" value="首页">
            <input type="button" class="pageButton" value="上一页">
            <input type="button" class="pageButton" value="下一页">
            <input type="button" class="pageButton" value="尾页">
            <select id="page">
            </select>
            <input type="button" class="pageButton" value="跳转">
            <input id="confirmAll" type="button" value="全部确定">
            <input id="submit" type="button" value="提交">
            -->
        </form>
        <div class="lq-page"></div>
    </body>
</html>