<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看宿舍信息</title>
    <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="css/page.css" th:href="@{/css/page.css}">
    <link rel="stylesheet" type="text/css" href="css/room/viewRoom.css" th:href="@{/css/room/viewRoom.css}">
    <script th:src="@{js/page.js}"></script>
</head>
<body>

<div class="wrapper">
    <h3 class="title">查看宿舍信息</h3>
    <form>
        <label>宿舍:</label>
        <select name="buId">
            <option th:each="build,buildStat:${builds}" th:selected="${buId eq build.buid}" th:text="${build.buid}"></option>
        </select>
        <label>楼层:</label>
        <select name="buNo">
            <option value="1" th:selected="${buNo eq '1'}" >1</option>
            <option value="2" th:selected="${buNo eq '2'}">2</option>
            <option value="3" th:selected="${buNo eq '3'}">3</option>
            <option value="4" th:selected="${buNo eq '4'}">4</option>
            <option value="5" th:selected="${buNo eq '5'}">5</option>
            <option value="6" th:selected="${buNo eq '6'}">6</option>
        </select>
        <input formaction="searchRoom" type="submit" value="查询" class="input1">
        <input formaction="searchEmptyRoom" type="submit" value="查询未住满宿舍" class="input1" id="wzm">
    </form>
    <br><br>
    <table border="1" id="roomTable">
        <tr>
            <th colspan="3">宿舍信息</th>
        </tr>
        <tr>
            <th width="200px">宿舍楼</th>
            <th th:text="${title}" width="150px"></th>
        </tr>
        <tr th:each="Map,MapStat:${Map}">
            <td ><a th:href="@{editRoom(rId=${Map.get('rId')})}"  th:width="200px" th:text="${Map.get('rId')}" class="aa"></a> </td>
            <td th:text="${Map.get('num')}"></td>
        </tr>

    </table>
</div>
</body>
</html>
