*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
table{
    width: 700px;
}
td{
    overflow: auto;
}
a{
    text-decoration: none;
}
.board{
    z-index: 1024;
}
.window{
    position: relative;
    width: 600px;
    top: -50px;
    display: none;
    z-index: 1025;
}
.operate{

}
.close{
    position: absolute;
    color: black;
    right: 0;
}