*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
table{
    width: 700px;
}
td{
    overflow: auto;
}
a{
    text-decoration: none;
    color: black;
}
.board{
    z-index: 1000;
}
.window{
    position: relative;
    width: 600px;
    top: -50px;
    display: none;
    z-index: 1025;
}
.wrapper{
    width: 1200px;
    height: 600px;
    z-index: 1020;
    display: none;
    position: absolute;
    top: 0;
    left: 300px;
}
.close{
    position: absolute;
    color: black;
    right: 0;
}
.addBoard,.modify,.delete{
    color: whitesmoke;
    display: block;
    background-color: aqua;
}
.modify1,.delete1{
    background-color: aqua;
}