<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.LogMapper">
    <select id="insert" resultType="string">
        INSERT INTO loginlog VALUES (#{logId},#{logUser},#{logTime})
    </select>

    <select id="findLogId" resultType="string">
        SELECT  logId from loginlog ORDER BY logId DESC LIMIT 0,1
    </select>
</mapper>