<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.OperationlogMapper">
    <select id="insertLog" parameterType="string">
       insert into operationlog values('ro101',#{value},now())
    </select>
</mapper>