<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.StudentMapper">
    <select id="stuManage" resultType="cn.edu.guet.bean.Student">
        select * from student
    </select>
    <select id="searchStu" parameterType="int" resultType="cn.edu.guet.bean.Student">
        select * from student where sId=#{studentId}
    </select>
</mapper>