<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.WaterMapper">
    <select id="getWaterState" parameterType="string" resultType="cn.edu.guet.bean.Water">
        SELECT * FROM water WHERE buildingId = #{value}
    </select>
    <select id="getAllWaterState" resultType="cn.edu.guet.bean.Water">
        SELECT * FROM water
    </select>
    <select id="getLimitWaterState" resultType="cn.edu.guet.bean.Water">
        SELECT * FROM water LIMIT #{startRow}, #{pageSize}
    </select>
    <select id="getWaterStateCount" resultType="int">
        SELECT COUNT(*) FROM water
    </select>

    <insert id="insertWaterState" parameterType="cn.edu.guet.bean.Water">
        INSERT INTO water VALUES(#{buildingId}, #{price}, #{number})
    </insert>

    <update id="updataWaterState" parameterType="cn.edu.guet.bean.Water">
        UPDATE water SET price=#{price},number=#{number} WHERE buildingId=#{buildingId}
    </update>

    <delete id="delteWaterState" parameterType="string">
        DELETE FROM water WHERE buildingId = #{value}
    </delete>

    <insert id="addWaterState" parameterType="cn.edu.guet.bean.Water">
        INSERT INTO water VALUES(#{buildingId}, #{price}, #{number})
    </insert>

</mapper>
