<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.WaterOrderMapper">
    <insert id="insertWaterOrder" parameterType="cn.edu.guet.bean.Waterorder">
        INSERT INTO waterorder VALUES(null, #{woUser}, #{buid}, #{woRoom}, #{woNum}, #{woMoney}, #{woTime})
    </insert>

    <select id="getWaterOrderByUser" parameterType="string" resultType="cn.edu.guet.bean.Waterorder">
        SELECT * FROM waterorder WHERE userId = #{value}
    </select>
    <select id="getWaterOrderByBuilding" resultType="cn.edu.guet.bean.Waterorder">
        SELECT * FROM waterorder WHERE buildingId = #{buid}
    </select>
    <select id="getWaterOrderByRoom" resultType="cn.edu.guet.bean.Waterorder">
        SELECT * FROM waterorder WHERE buildingId = #{buid} AND roomId = #{woRoom}
    </select>
    <select id="getAllWaterOrder" resultType="cn.edu.guet.bean.Waterorder">
        SELECT * FROM waterorder
    </select>
    <select id="getAllWaterOrderCount" resultType="int">
        SELECT COUNT(*) FROM waterorder
    </select>
    <select id="getBuildingWaterOrderCount" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM waterorder WHERE buildingId = #{value}
    </select>
    <select id="getRoomWaterOrderCount" resultType="int">
        SELECT COUNT(*) FROM waterorder WHERE buildingId = #{buid} AND roomId = #{woRoom}
    </select>

    <select id="getTest" resultType="cn.edu.guet.bean.Waterorder">
        SELECT * FROM waterorder
    </select>

</mapper>
